<h1>My Tasks</h1>

<div>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <input type="checkbox" id="task" name="task" <%= task.completed ? "checked" : "" %>>
        <label for="task"><%= link_to task.title, "/tasks/#{task.id}" %></label>
        <%= link_to "🗑", "/tasks/#{task.id}", method: :delete %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to "+ Add a new task", new_task_path %>
